<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}"
	layout:fragment="Content">

<body class="d-flex flex-column h-100">
	<th:block layout:fragment="content">
	<main class="flex-shrink-0">
		<!-- Navigation-->

		<!-- Header-->
		<header class="bg-dark py-5">
			<div class="container px-5">
				<div class="row gx-5 align-items-center justify-content-center">
					<div class="col-lg-8 col-xl-7 col-xxl-6">
						<div class="my-5 text-center text-xl-start">
							<h1 class="display-5 fw-bolder text-white mb-2">For the
								game, for the world.</h1>
							<p class="lead fw-normal text-white-50 mb-4">We are 26</p>
						</div>
						<!-- Video content -->
						<div id="video"></div>
					</div>

					<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
						<img class="img-fluid rounded-3 my-5" src="asset/FIFA.jpg"
							alt="image" />
					</div>
				</div>
			</div>
		</header>
		<!-- Features section-->

	</main>
	
	</th:block>
	
	<th:block layout:fragment="script">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
			let videoUrl;
			fetch("/api/videoUrl", {method: "POST"})
				.then((response) => {
					return response.json();
				})
				.then((response)=> {
					videoUrl = response;
					let videoObject=document.getElementById("video");
					let video =`<video src="${videoUrl.url}" width="600" height="300" controls/>`;
					videoObject.innerHTML = video;					
				});
			
			
		</script>
	</th:block>
</body>
</html>
