<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/defaultLayout}" layout:fragment="Content">

<head>
	<meta charset="UTF-8">
	<title>파일업로드 예제 html</title>
</head>

<body>
	<th:block layout:fragment="content">

	</th:block>



	<th:block layout:fragment="script">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
		</script>


		<script type="text/javascript">

		</script>

	</th:block>
</body>

</html>